In [1]:
import pandas as pd

In [3]:
from tps_feb_2021.config import config

In [4]:
data_dir = config['data_dir']
data_dir

'C:/Users/eria/OneDrive - Novozymes A S/Documents/projects/kaggle/tabular_playground_series/tps_feb_2021/data/'

In [5]:
train_raw = pd.read_csv(data_dir + 'raw/train.csv')
test_raw = pd.read_csv(data_dir + 'raw/test.csv')

In [6]:
train_raw.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,A,B,A,A,B,D,A,E,C,...,0.881122,0.421650,0.741413,0.895799,0.802461,0.724417,0.701915,0.877618,0.719903,6.994023
1,2,B,A,A,A,B,B,A,E,A,...,0.440011,0.346230,0.278495,0.593413,0.546056,0.613252,0.741289,0.326679,0.808464,8.071256
2,3,A,A,A,C,B,D,A,B,C,...,0.914155,0.369602,0.832564,0.865620,0.825251,0.264104,0.695561,0.869133,0.828352,5.760456
3,4,A,A,A,C,B,D,A,E,G,...,0.934138,0.578930,0.407313,0.868099,0.794402,0.494269,0.698125,0.809799,0.614766,7.806457
4,6,A,B,A,A,B,B,A,E,C,...,0.382600,0.705940,0.325193,0.440967,0.462146,0.724447,0.683073,0.343457,0.297743,6.868974

In [14]:
y = train_raw['target']
y

0         6.994023
1         8.071256
2         5.760456
3         7.806457
4         6.868974
            ...
299995    8.343538
299996    7.851861
299997    7.600558
299998    8.272095
299999    6.025685
Name: target, Length: 300000, dtype: float64

In [15]:
test_raw.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,A,B,A,C,B,D,A,E,E,...,0.701679,0.595507,0.286912,0.279884,0.202234,0.242654,0.285147,0.264308,0.653654,0.302448
1,5,A,B,A,C,B,D,A,E,C,...,0.277480,0.479552,0.397436,0.476742,0.857073,0.516393,0.562065,0.730542,0.318492,0.736251
2,15,A,B,A,C,B,D,A,E,C,...,0.279508,0.676395,0.695284,0.253316,0.586934,0.548555,0.836193,0.759788,0.333572,0.273905
3,16,A,A,B,A,B,D,A,E,E,...,0.479503,0.759875,0.240049,0.298074,0.442475,0.596746,0.414131,0.255382,0.589080,0.311625
4,17,A,B,A,A,B,B,A,E,E,...,0.757845,0.210232,0.329851,0.616663,0.170475,0.263235,0.710961,0.224045,0.285860,0.794931

In [16]:
cont_cols = [col for col in train_raw.columns if col[:4] == 'cont']
cont_cols

['cont0',
 'cont1',
 'cont2',
 'cont3',
 'cont4',
 'cont5',
 'cont6',
 'cont7',
 'cont8',
 'cont9',
 'cont10',
 'cont11',
 'cont12',
 'cont13']

In [17]:
cat_cols = [col for col in train_raw.columns if col[:3] == 'cat']
cat_cols

['cat0',
 'cat1',
 'cat2',
 'cat3',
 'cat4',
 'cat5',
 'cat6',
 'cat7',
 'cat8',
 'cat9']

In [18]:
for col in cat_cols:
    print(train_raw[col].value_counts())
    print('-'*10)

A    281471
B     18529
Name: cat0, dtype: int64
----------
A    162678
B    137322
Name: cat1, dtype: int64
----------
A    276551
B     23449
Name: cat2, dtype: int64
----------
C    183752
A    104464
D     11174
B       610
Name: cat3, dtype: int64
----------
B    297373
A      1241
C       767
D       619
Name: cat4, dtype: int64
----------
B    149208
D    135151
C     11763
A      3878
Name: cat5, dtype: int64
----------
A    292643
B      6344
C       809
D       147
I        24
E        19
H        11
G         3
Name: cat6, dtype: int64
----------
E    267631
D     24356
B      5750
G      1961
F       279
A        14
C         6
I         3
Name: cat7, dtype: int64
----------
C    121054
E     94616
G     42195
A     37878
D      3694
F       549
B        14
Name: cat8, dtype: int64
----------
F    107281
I     50064
L     42200
H     24759
K     20955
A     13408
G     10409
M      9838
J      6981
O      6173
N      4112
B      3435
C       209
D       103
E        73
Name: cat9, dtype: int64
----------

In [19]:
one_hot_train = pd.get_dummies(train_raw[cat_cols])
one_hot_test = pd.get_dummies(test_raw[cat_cols])

In [20]:
one_hot_train

,cat0_A,cat0_B,cat1_A,cat1_B,cat2_A,cat2_B,cat3_A,cat3_B,cat3_C,cat3_D,...,cat9_F,cat9_G,cat9_H,cat9_I,cat9_J,cat9_K,cat9_L,cat9_M,cat9_N,cat9_O
0,1,0,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,1,1,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,1,0,0,1,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,1,0,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
299996,1,0,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
299997,1,0,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
299998,1,0,0,1,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
299999,1,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
scaler = StandardScaler()
cont_X = scaler.fit_transform(train_raw[cont_cols])
cont_X_test = scaler.transform(test_raw[cont_cols])
cont_X = pd.DataFrame(cont_X, columns=cont_cols)
cont_X_test = pd.DataFrame(cont_X_test, columns=cont_cols)
cont_X.describe()

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
count,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05
mean,4.321199e-16,-5.768956e-16,4.715295e-16,-1.890407e-16,-1.791049e-16,-9.021376e-16,3.403861e-16,2.743672e-16,3.808194e-16,2.341386e-16,-6.242414e-17,-3.338015e-17,-6.269651e-16,-1.796026e-17
std,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00
min,-3.017163e+00,-2.387709e+00,-2.520831e+00,-1.304965e+00,-1.326667e+00,-2.571472e+00,-2.257379e+00,-1.208854e+00,-2.063438e+00,-2.224531e+00,-2.209389e+00,-2.017577e+00,-2.400045e+00,-1.532867e+00
25%,-7.525736e-01,-6.560225e-01,-6.496814e-01,-9.705589e-01,-8.750544e-01,-7.322134e-01,-7.194712e-01,-8.697794e-01,-6.828571e-01,-8.084417e-01,-8.238465e-01,-9.238355e-01,-8.710442e-01,-9.415817e-01
50%,-1.582701e-01,4.612053e-01,6.575043e-02,-2.865510e-01,-2.198378e-01,-2.890713e-01,-3.546992e-01,-4.653895e-01,-1.519193e-01,-1.864086e-01,7.398676e-02,1.251345e-01,-5.305067e-01,-3.083260e-01
75%,6.353104e-01,7.714606e-01,5.533588e-01,1.146126e+00,8.288044e-01,8.685997e-01,6.542634e-01,8.972649e-01,3.725697e-01,1.107049e+00,8.328819e-01,8.249298e-01,9.411052e-01,1.010230e+00
max,2.577348e+00,1.466820e+00,2.866608e+00,2.347416e+00,2.683571e+00,2.314635e+00,3.195760e+00,2.839403e+00,2.514646e+00,2.182051e+00,2.603990e+00,2.200952e+00,1.977538e+00,1.643877e+00

In [23]:
train_raw.describe()

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,250018.576947,0.524634,0.506649,0.444115,0.446214,0.455471,0.508337,0.478345,0.455904,0.459321,0.526899,0.504943,0.529938,0.524549,0.503349,7.456260
std,144450.150010,0.204875,0.235269,0.200089,0.238669,0.200695,0.231612,0.192432,0.204493,0.220642,0.204025,0.201549,0.230860,0.220892,0.225218,0.887295
min,1.000000,-0.093505,-0.055105,-0.060274,0.134760,0.189216,-0.087247,0.043953,0.208703,0.004041,0.073040,0.059644,0.064161,-0.005600,0.158121,0.000000
25%,124772.500000,0.370451,0.352307,0.314121,0.214572,0.279853,0.338747,0.339896,0.278041,0.308655,0.361957,0.338898,0.316662,0.332143,0.291289,6.798341
50%,250002.500000,0.492208,0.615156,0.457271,0.377823,0.411351,0.441384,0.410090,0.360736,0.425801,0.488867,0.519855,0.558827,0.407365,0.433909,7.496503
75%,375226.500000,0.654793,0.688150,0.554835,0.719758,0.621808,0.709515,0.604246,0.639388,0.541525,0.752765,0.672809,0.720381,0.732431,0.730870,8.161166
max,499999.000000,1.052666,0.851746,1.017689,1.006469,0.994050,1.044433,1.093312,1.036541,1.014156,0.972091,1.029773,1.038049,0.961370,0.873579,10.309208

In [24]:
X = pd.concat([one_hot_train, cont_X], axis=1)
X_test = pd.concat([one_hot_test, cont_X_test], axis=1)
X

,cat0_A,cat0_B,cat1_A,cat1_B,cat2_A,cat2_B,cat3_A,cat3_B,cat3_C,cat3_D,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,1,0,0,1,1,0,1,0,0,0,...,-0.867238,1.609527,-0.294623,1.396184,1.978227,1.350628,1.088938,0.744943,1.598382,0.961533
1,0,1,1,0,1,0,1,0,0,0,...,-0.862591,-0.295002,-0.686557,-0.867560,0.607739,0.093896,0.537385,0.915496,-0.895782,1.354760
2,1,0,1,0,1,0,0,0,1,0,...,-0.805777,1.752148,-0.565102,1.841928,1.841445,1.462334,-1.194944,0.717420,1.559967,1.443062
3,1,0,1,0,1,0,0,0,1,0,...,1.566127,1.838425,0.522703,-0.237621,1.852684,1.311128,-0.052959,0.728526,1.291356,0.494710
4,1,0,0,1,1,0,1,0,0,0,...,-0.878778,-0.542878,1.182729,-0.639198,-0.083184,-0.317379,1.089089,0.663325,-0.819827,-0.912921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,1,0,0,1,1,0,0,0,1,0,...,1.559461,-1.030856,-1.141653,-0.451394,-0.719276,-0.913531,-1.335816,-0.634418,-1.400337,1.288893
299996,1,0,0,1,1,0,0,0,1,0,...,1.596853,-1.343305,-1.150129,0.578991,-1.052778,-1.001429,-1.085836,-0.888263,-0.985174,-1.209708
299997,1,0,0,1,1,0,0,0,1,0,...,-0.787592,-0.254110,-0.478991,0.099331,-1.465608,-0.118463,-1.335434,-0.923796,-1.241619,-0.685152
299998,1,0,0,1,0,1,0,0,1,0,...,1.510603,-0.626940,-0.801389,-1.109514,-1.080635,-0.056830,-0.573322,-1.233235,-0.998925,-0.098622
299999,1,0,1,0,0,1,1,0,0,0,...,1.198712,0.977393,-0.385594,0.204479,0.175183,1.253212,1.222077,0.339921,0.852539,-0.226221

In [25]:
X.to_csv(data_dir + 'processed/X_train.csv', index=False)
X_test.to_csv(data_dir + 'processed/X_test.csv', index=False)

In [26]:
y.to_csv(data_dir + 'processed/y_train.csv', index=False)